{% extends 'index.html' %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>上传日期</th>
                <th>代码行数</th>
            </tr>
        </thead>
       {% for foo in obj %}
           <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ foo.name }}</td>
                <td>{{ foo.date }}</td>
                <td>{{ foo.num }}</td>
           </tr>

       {% endfor %}

    </table>
{% endblock %}